
extends layout 
 
block content 
  h1= title 

  if (toShow == null) 
    h2 No instance to Update     
  else
 
    - let flowersid = toShow._id 
    - let flowers_type = toShow.flowers_type 
    - let flowerscolor = toShow.color
    - let flowerscost = toShow.cost 
    
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{flowersid} 
    - let actionid = "/resource/flowers/" + flowersid 
    form(id='flowersForm', action= actionid, method="PUT") 
      div.form-group 
          label.flowersAttr(for='flowers_type') flowers type 
          input#flowers_type(type='text', name='flowers_type', value= flowers_type ) 
      div.form-group 
          label.flowersAttr(for='color') flowers color  
          input#color(type='text', name='color', value= flowerscolor ) 
      div.form-group 
          label.flowersAttr(for='cost') flowers cost 
          input#cost(type='number', name='cost', value= flowerscost ) 
      input(type="submit") 

      button(class="btn btn-dark m-2" onclick="window.location.href='/flowers'") Cancel 
  
    script. 
      document.forms['flowersForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
          method: 'PUT', 
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
          return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
          alert("Update succeded") 
          // TODO handle body 
        }).catch((error) => { 
          // TODO handle error 
          alert("Update failed " + error ) 
        }); 
      });