extends layout

block content
  h1= title
 // - const flowers = ['Flower_type','Color','Cost']
  - let items = results; 
   - let o;
  script.
    function buy(f){
      alert('Purchased Item: ' + f)
   } 
  div(class='container-fluid')
    div(class='row')
      each o, index in items
        div(class='col-sm-2' onclick='buy('+index+')') #{o}
