extends layout

block content
  h1= title
  - let flower = results
    table
        thead
            tr 
                th(scope="col") flowers_type 
                th(scope="col") color 
                th(scope="col") cost
        tbody        
            - for(let i=0;i<flower.length;i++){
                tr
                    td  #{flower[i].flowers_type}
                    td  #{flower[i].color}
                    td  #{flower[i].cost}
            - }