extends layout

block content
  h1= title
  //- const flowers = ['flower_type','color','Cost']
  //- - let items = [] 
  - let items = results; 
  //- - let results;
  - let p;
  script.
    function buy(f){
      alert('Purchased Item: ' + f)
   } 
  div(class='container-fluid')
    div(class='row')
      each p, index in items 
        div(class='col-sm-4' onclick='buy('+index+')') #{p}