body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.costumeAttr {
  background-color: rgb(17, 255, 69);
  width: 120px;
  }

  h1 {
    color: #ff00c8;
  }